	<!DOCTYPE html>
	<html>
	<head>
		<title>SoundTrack | Start</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
	</head>
	<body>
		<div class="container">
			<center>
				<div class="row mt-5">
					<div class="col-sm-4"></div>
					<div class="col-sm-4"><h1>SoundTrack</h1></div>
					<div class="col-sm-4">
						<ul>
							<li><i class="fas fa-info-circle fa-lg" onclick="helpStart()" onmouseover="" style="cursor: pointer;"></i><p onclick="helpStart()" onmouseover="" style="cursor: pointer;">Help</p></li>
							<li><a href="profile" class="black" disabled><i class="fas fa-user fa-lg"></i><p>Profile</p></a></li>
							<li><a href="/" class="black"><i class="fas fa-sign-out-alt fa-lg"></i><p>Logout</p></a></li>
						</ul>
					</div>
				</div>

				<br><br>
				<h4 data-toggle="tooltip" title="Get your head in the game! Choose a relaxing sound for your work session.">Soundscape</h4>

				<div class="soundscroll squares" id="scroll1">
					{{#each soundscapes}} 
					<button class="btn btn-outline-secondary scape" onclick="soundEffect({{soundEffectnum}})" id="{{id}}">{{name}}</button>
					{{/each}}
				</div>

				<br><br>
				<h4 data-toggle="tooltip" title="The sound that will play whenever you're off-task for too long">Alert Sound</h4>
				<div class="soundscroll squares" id="scroll2">
					{{#each alerts}} 
					<button class="btn btn-outline-secondary alarm" onclick="soundEffect({{soundEffectnum}})" id="{{id}}">{{name}}</button>
					{{/each}}
				</div>

				<!-- <br><br>
					<div id="div1">No sound effect selected yet...</div> -->

					<br><br>

					<h4 class="downtime-text" data-toggle="tooltip" title="The amount of time you allow yourself for goofing off for this work session">Total Break Time: <span id="downtime">20</span> minutes</h4>
					<br>
					<!-- <p class="pt-0">This is your quota of unproductivity for this session.</p> -->
					<div class="slidecontainer">
						<input type="range" min="1" max="40" value="20" class="slider" id="downtimeRange" oninput="updateTimeRange(this.value)">
					</div>
					<br><br>

					<!-- Start working -->
					<a href="screen2" class="btn btn-outline-primary float disabled" role="button" aria-pressed="true" aria-disabled="true" onclick="resetSlider()">Start Working!</a>

				</center>



			</div>
			<footer>
				<div class="row">
					<div class="col-sm-12">

					</div>
				</div>
			</footer>


			<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="/js/bootstrap.min.js"></script>
			<script src="/js/script.js"></script>


		</body>
		</html>